{
    "plugins": [
        "react"
    ],
    "parserOptions": {
        "ecmaVersion": 2020,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "env": {
        "es6": true,
        "browser": true,
        "node": true,
        "mocha": true
    },
    "extends": [
        "eslint:recommended",
        "plugin:react/recommended"
    ],
    "rules": {
        "no-prototype-builtins": "warn",
        "react/jsx-key": "warn",
        "react/no-unknown-property": "warn",
        "react/prop-types": "warn",
        "no-unused-vars": "warn",
        "react/no-unescaped-entities": "warn",
        "semi": [
            2,
            "always",
            {
                "omitLastInOneLineBlock": true
            }
        ]
    }
}